@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


@section scripts {

    <script>
        $(document).ready(function () {
            insertGetRequest();
            setInterval(function () {
                insertGetRequest();
            }, 5000);
        });

        function insertGetRequest() {
            var url = '/Home/InsertAvailaibityTime';
            $.ajax({
                url: url,
                context: document.body,
                success: function (data) {
                    
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    </script>
}